  <div>
  	<h1 style="text-align: center;">пюяохяюмхе</h1>
  	<h2 style="text-align: center;">гюмърхи дкъ ярсдемрнб 3 йспяю гюнвмне нрдекемхе</h2>
  	<h3 style="text-align: center;">2014-2015 СВ.ЦНД</h3>
  </div>
  
  <div class="container-fluid" ng-controller="ListLessonsCtrl">
  	<table style="width: 100%;">
		<tr>
			<td rowspan="3" style="vertical-align: top; text-align: left;">
				{{'date'}}<br />
				{{'day'}}
			</td>
			<td>{{'time'}}</td>
			<td>{{'title'}}</td>
			<td>{{'teacher'}}</td>
			<td>{{'room'}}</td>
		</tr>
		<tr>
			<td>{{'time'}}</td>
			<td>{{'title'}}</td>
			<td>{{'teacher'}}</td>
			<td>{{'room'}}</td>
		</tr>
		<tr>
			<td>{{'time'}}</td>
			<td>{{'title'}}</td>
			<td>{{'teacher'}}</td>
			<td>{{'room'}}</td>
		</tr>
  	</table>
  </div>