  <div>
  	<h1 style="text-align: center;">РАСПИСАНИЕ</h1>
  	<h2 style="text-align: center;">ЗАНЯТИЙ ДЛЯ СТУДЕНТОВ 3 КУРСА ЗАОЧНОЕ ОТДЕЛЕНИЕ</h2>
  	<h3 style="text-align: center;">2014-2015 уч.год</h3>
  </div>
  
  <div class="container-fluid">
  	<table style="width: 100%;">
  		<tbody ng-repeat="timetable in timetables">
			<tr ng-repeat="lesson in timetable.lessons">
				<td rowspan="{{timetable.lessons.length}}" ng-if="!$index" style="vertical-align: top; text-align: left;">
					{{timetable.day.date}}<br />
					{{timetable.day.dow}}
				</td>
				<td>{{lesson.time}}</td>
				<td>{{lesson.title}}</td>
				<td>{{lesson.teacher}}</td>
				<td>{{lesson.room}}</td>
			</tr>
		</tbody>		
  	</table>
  </div>